.navbar-container {
	position: fixed;
	display: flex;
	width: 100%;
	min-height: 60px;
	flex-direction: row;
	align-items: flex-end;
	background-color: rgba(0, 0, 0, 0.1);
	z-index: 9999;

	#logo-image {
		position: absolute;
		top: 0;
		left: 15%;
		height: 100%;
	}
	.navbar-content {
		position: absolute;
		left: 35%;
		top: 0;
		height: 100%;
		nav {
			ol {
				list-style-type: none;
				padding-left: 0;
				li {
					display: inline-block;
					margin-right: 30px;
					font-family: "Be Vietnam Pro";
					font-style: normal;
					font-weight: 500;
					font-size: 15px;
					cursor: pointer;
					color: white;
					&:last-child {
						margin-right: 0px;
					}
					&:last-child:after {
						display: none;
					}
					&:after {
						display: block;
						content: "";
						padding-bottom: 5px;
						border-bottom: solid 3px #019fb6;
						transform: scaleX(0);
						transition: transform 1s ease-in-out;
						transform-origin: 0% 50%;
					}
					&:hover:after {
						transform: scaleX(1);
					}
				}
			}
		}
	}
	.button-container {
		position: absolute;
		right: 50px;
		top: 50%;
		transform: translate(0, -50%);
	}
}
